<mat-sidenav-container class="example-container" (backdropClick)="close('backdrop')" *ngIf="shouldRun">
  <mat-sidenav class="sidebar" #sidenav (keydown.escape)="close('escape')" disableClose>
    <div class="sidebar">
      <button class="sidebar-item" mat-button (click)="close('toggle button')">
        Cerrar
      </button>
      <button class="sidebar-item active" mat-button routerLink="/usuarios">
        Autores
      </button>
      <button class="sidebar-item" mat-button routerLink="/clientes">
        Alumnos
      </button>
      <button class="sidebar-item" mat-button routerLink="/negocios">
        Libros
      </button>
      <button class="sidebar-item" mat-button routerLink="/compras">
        Prestamos
      </button>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <p>
      <button mat-button color="warn" (click)="sidenav.open()">
        <span class="material-icons">menu</span>
      </button>
    </p>
    <div class="container">
      <div style="text-align: center">
        <h1>Registrar nuevo Autor</h1>
      </div>

      <form [formGroup]="form" (submit)="aceptar()">
        <mat-form-field class="example-full-width">
          <mat-label>ID</mat-label>
          <input matInput placeholder="id" formControlName="id" />
        </mat-form-field>
        <br />

        <mat-form-field class="example-full-width">
          <mat-label>Nombre</mat-label>
          <input matInput placeholder="nombre" formControlName="nombre" />
        </mat-form-field>
        <br />

        <mat-form-field class="example-full-width">
          <mat-label>Pais</mat-label>
          <input matInput placeholder="pais" formControlName="pais" />
        </mat-form-field>
        <br />

        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input matInput placeholder="email" formControlName="emailUsuario" />
        </mat-form-field>
        <br />

        <mat-form-field class="example-full-width">
          <mat-label>Telefono</mat-label>
          <input matInput placeholder="telefono" formControlName="telefonoUsuario" />
        </mat-form-field>
        <br />

        <button mat-raised-button color="accent">
          <span class="material-icons">save</span>
        </button>
        <button mat-raised-button color="warn" routerLink="/usuarios">
          <span class="material-icons">delete</span>
        </button>
        <p>{{ mensaje }}</p>
      </form>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>