<mat-sidenav-container class="example-container" (backdropClick)="close('backdrop')" *ngIf="shouldRun">
  <mat-sidenav class="sidebar" #sidenav (keydown.escape)="close('escape')" disableClose>
    <div class="sidebar">
      <button class="sidebar-item" mat-button (click)="close('toggle button')">
        Cerrar
      </button>
      <button class="sidebar-item active" mat-button routerLink="/usuarios">
        Autores
      </button>
      <button class="sidebar-item" mat-button routerLink="/clientes">
        Alumnos
      </button>
      <button class="sidebar-item" mat-button routerLink="/negocios">
        Libros
      </button>
      <button class="sidebar-item" mat-button routerLink="/compras">
        Prestamos
      </button>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <p>
      <button mat-button (click)="sidenav.open()">
        <span class="material-icons menu">menu</span>
      </button>
    </p>
    <div class="container">
      <div style="text-align: center">
        <h1>Lista de Autores</h1>
      </div>
      <div style="text-align: right">
        <button mat-raised-button [routerLink]="['registrarus']">
          <mat-icon>add</mat-icon>
        </button>
      </div>

      <mat-form-field appearance="outline">
        <input matInput (keyup)="filtrar($event)" placeholder="Buscar" />
      </mat-form-field>

      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>ID.</th>

          <td mat-cell *matCellDef="let element">{{ element.id }}</td>
        </ng-container>

        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef>Nombre</th>

          <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
        </ng-container>

        <ng-container matColumnDef="pais">
          <th mat-header-cell *matHeaderCellDef>Pais</th>

          <td mat-cell *matCellDef="let element">{{ element.pais }}</td>
        </ng-container>

        <ng-container matColumnDef="fecha">
          <th mat-header-cell *matHeaderCellDef>Fecha</th>

          <td mat-cell *matCellDef="let element">{{ element.fecha | date : "dd/MM/yyyy" }}</td>
        </ng-container>

        <ng-container matColumnDef="biografia">
          <th mat-header-cell *matHeaderCellDef>Biografia</th>

          <td mat-cell *matCellDef="let element">{{ element.biografia }}</td>
        </ng-container>

        <ng-container matColumnDef="modificar">
          <th mat-header-cell *matHeaderCellDef>Modificar</th>

          <td mat-cell *matCellDef="let element">
            <button mat-raised-button color="warn" [routerLink]="['edicion', element.id]">
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="borrar">
          <th mat-header-cell *matHeaderCellDef>Eliminar</th>
          <td mat-cell *matCellDef="let element">
            <button mat-raised-button color="accent" (click)="confirm(element.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page">
      </mat-paginator>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>