<mat-sidenav-container class="example-container" (backdropClick)="close('backdrop')" *ngIf="shouldRun">
  <mat-sidenav class="sidebar" #sidenav (keydown.escape)="close('escape')" disableClose>
    <div class="sidebar">
      <button class="sidebar-item" mat-button (click)="close('toggle button')">
        Cerrar
      </button>
      <button class="sidebar-item" mat-button routerLink="/usuarios">
        Autores
      </button>
      <button class="sidebar-item active" mat-button routerLink="/clientes">
        Alumnos
      </button>
      <button class="sidebar-item" mat-button routerLink="/negocios">
        Libros
      </button>
      <button class="sidebar-item" mat-button routerLink="/compras">
        Prestamos
      </button>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <p>
      <button mat-button (click)="sidenav.open()">
        <span class="material-icons menu">menu</span>
      </button>
    </p>
    <div class="container">
      <div style="text-align: center">
        <h1>Calculadora</h1>
      </div>

      <form action="calcular.php" method="post">
        <input type="radio" name="moneda" value="soles"> Soles
        <input type="radio" name="moneda" value="dolares"> Dólares
        <br>
        <input type="radio" name="tasa_interes" value="nominal"> Tasa nominal
        <input type="radio" name="tasa_interes" value="efectiva"> Tasa efectiva
        <br>
        <input type="number" name="precioventa" placeholder="Precio de venta del activo">
        <br>
        <input type="number" name="cuoainicial" placeholder="% Cuota Inicial">
        <br>
        <input type="number" name="annio" placeholder="N° años">
        <br>
        <input type="number" name="frecuencia" placeholder="Frecuencia de pago">
        <br>
        <input type="number" name="plazo_gracia" placeholder="Plazo de gracia (meses)">
        <br>
        <input type="submit" value="Calcular">
      </form>


      <div style="text-align: right">
        <button mat-raised-button [routerLink]="['registrarcl']">
          <mat-icon>add</mat-icon>
        </button>
      </div>

   
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>