<mat-sidenav-container class="example-container" (backdropClick)="close('backdrop')" *ngIf="shouldRun">
  <mat-sidenav class="sidebar" #sidenav (keydown.escape)="close('escape')" disableClose>
    <div class="sidebar">
      <button class="sidebar-item" mat-button (click)="close('toggle button')">
        Cerrar
      </button>
      <button class="sidebar-item" mat-button routerLink="/usuarios">
        Autores
      </button>
      <button class="sidebar-item" mat-button routerLink="/clientes">
        Alumnos
      </button>
      <button class="sidebar-item active" mat-button routerLink="/negocios">
        Libros
      </button>
      <button class="sidebar-item" mat-button routerLink="/compras">
        Prestamos
      </button>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <p>
      <button mat-button color="warn" (click)="sidenav.open()">
        <span class="material-icons">menu</span>
      </button>
    </p>
    <div class="container">
      <div style="text-align: center">
        <h1>Registrar nuevo Libro</h1>
      </div>
      <form>
        <form [formGroup]="form" (submit)="aceptar()">
          <mat-form-field class="example-full-width">
            <mat-label>Código</mat-label>
            <input matInput placeholder="id" formControlName="id" />
          </mat-form-field>
          <br />

          <mat-form-field class="example-full-width">
            <mat-label>Titulo</mat-label>
            <input matInput placeholder="Titulo" formControlName="nameNegocio" />
          </mat-form-field>
          <br />

          <mat-form-field class="example-full-width">
            <mat-label>Descripcion</mat-label>
            <input matInput placeholder="Descripcion" formControlName="direccionNegocio" />
          </mat-form-field>
          <br />

          <mat-form-field class="example-full-width">
            <mat-label>Estado</mat-label>
            <input matInput placeholder="Estado" formControlName="telefono" />
          </mat-form-field>
          <br />

          <mat-form-field appearance="fill">
            <mat-label>Fecha</mat-label>
            <input matInput required [matDatepicker]="picker" formControlName="emailNegocio" [max]="fecha_max" />
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <br />

          <mat-form-field class="example-full-width">
            <mat-label>Genero</mat-label>
            <input matInput placeholder="Genero" formControlName="tipoNegocio" />
          </mat-form-field>
          <br />

          <mat-form-field class="example-full-width">
            <mat-label>Editorial</mat-label>
            <input matInput placeholder="Editorial" formControlName="IDusuario" />
          </mat-form-field>
          <br />

          <div style="text-align: center">
            <button mat-raised-button color="accent">
              <span class="material-icons">save</span>
            </button>
            <button mat-raised-button color="warn" routerLink="/negocios">
              <span class="material-icons">delete</span>
            </button>
            <br />
          </div>

          <p>{{ mensaje }}</p>
        </form>
      </form>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>