<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Calculadora Financiera</title>
	<link rel="icon" href="./component/landing-page/images/logo.png">
	<link rel="stylesheet" href="landing-page.component.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
		integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>

	<body>
		<section class="tank-bootstrap-header">
			<nav class="navbar navbar-expand-lg navbar-light py-lg-3 py-2">
				<div class="container">
					<img src="images/image (1).png">
					<a class="navbar-brand" href="index.html"></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
						<span class="navbar-toggler-icon fa fa-bars"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav ml-auto">
							<li class="nav-item">
								<a class="nav-link" [routerLink]="['clientes']">Acceder</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="index.html">Home</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#transportes-go">Banca por internet</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#features">Abre tu cuenta</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#portfolio">Empresas</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#testimonials">Beneficios</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#articulos">Ayuda y educacion</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="compras.html">Español/Quechua</a>
							</li>
							<li class="nav-item">
								<input type="text" placeholder="Buscar">
								<div class="btn">
									<i class="fa fa-search"></i>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</section>

		<section class="tank-main-banner">
			<div class="slider-info banner-view text-center">
				<div class="banner-info container">
					<h3 class="banner-text mt-5" style="color:rgb(100, 175, 224);">
						<font face="Arial Black">Calculadora Financiera para prestamos vehiculares.</font>
					</h3>
					<br><br>
					
					<div>
						<script id="_wauwaa">var _wau = _wau || []; _wau.push(["classic", "zltotgacrhd9", "waa"]);
							(function () {
								var s = document.createElement("script"); s.async = true;
								s.src = "http://widgets.amung.us/classic.js";
								document.getElementsByTagName("head")[0].appendChild(s);
							})();</script>
					</div>
				</div>
			</div>
		</section>

		<script>
			$(function () {
				$('.navbar-toggler').click(function () {
					$('body').toggleClass('noscroll');
				})

			});
		</script>

		<script src="js/script.js"></script>

		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
			integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
			crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
			integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
			crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
			integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
			crossorigin="anonymous"></script>
	</body>
</body>

</html>