<mat-sidenav-container class="example-container" (backdropClick)="close('backdrop')" *ngIf="shouldRun">
  <mat-sidenav class="sidebar" #sidenav (keydown.escape)="close('escape')" disableClose>
    <div class="sidebar">
      <button class="sidebar-item" mat-button (click)="close('toggle button')">
        Cerrar
      </button>
      <button class="sidebar-item" mat-button routerLink="/usuarios">
        Autores
      </button>
      <button class="sidebar-item" mat-button routerLink="/clientes">
        Alumnos
      </button>
      <button class="sidebar-item" mat-button routerLink="/negocios">
        Libros
      </button>
      <button class="sidebar-item active" mat-button routerLink="/compras">
        Prestamos
      </button>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <p>
      <button mat-button color="warn" (click)="sidenav.open()">
        <span class="material-icons">menu</span>
      </button>
    </p>
    <div class="container">
      <div style="text-align: center">
        <h1>Registrar nuevo Prestamo</h1>
      </div>

      <form [formGroup]="form" (submit)="aceptar()">
        <mat-form-field class="example-full-width">
          <mat-label>Codigo</mat-label>
          <input matInput required placeholder="Codigo" formControlName="id" />
        </mat-form-field>
        <br />

        <mat-form-field appearance="fill">
          <mat-label>Fecha Prestamo</mat-label>
          <input matInput required [matDatepicker]="picker" formControlName="FechaP" [max]="fecha_max" />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Fecha Devolucion</mat-label>
          <input matInput required [matDatepicker]="picker2" formControlName="FechaD" [max]="fecha_max" />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Estado</mat-label>
          <input matInput required placeholder="Estado" formControlName="descripcion" />
        </mat-form-field>
        <br />

        <mat-form-field class="example-full-width">
          <mat-label>ID_Alumno</mat-label>
          <input matInput required placeholder="fecha" formControlName="fecha" />
        </mat-form-field>
        <br />

        <mat-form-field class="example-full-width">
          <mat-label>ID_Libro</mat-label>
          <input matInput required placeholder="Cliente_id" formControlName="Cliente_ID" />
        </mat-form-field>
        <br />

        <mat-form-field class="example-full-width">
          <mat-label>ID_Bibliotecario</mat-label>
          <input matInput required placeholder="Negocio_id" formControlName="Negocio_ID" />
        </mat-form-field>
        <br />
        <button mat-raised-button color="accent">
          <span class="material-icons">save</span>
        </button>
        <button mat-raised-button color="warn" routerLink="/compras">
          <span class="material-icons">delete</span>
        </button>

        <p>{{ mensaje }}</p>
      </form>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>